[Desktop Entry]
Version=1.0
Type=Application
Name=Learnblock Install
Exec=gksu ./setupLearnBlock install
Icon=learnbot_dsl/learnbotCode/ico.png
Path=./
Terminal=true
StartupNotify=false
