[Desktop Entry]
Version=1.0
Type=Application
Name=Learnblock
Comment=
Exec=/home/ivan/robocomp/components/learnbot/startLearnblock.sh
Icon=/home/ivan/robocomp/components/learnbot/learnbot_dsl/learnbotCode/ico.png
Path=/home/ivan/robocomp/components/learnbot
Terminal=false
StartupNotify=false
