numpy==1.14.5
matplotlib==2.2.2
pyparsing==2.0.3
imutils==0.5.1
six==1.10.0
scipy==1.0.0
tensorflow==1.10.1
dlib==19.13.1
pandas==0.19.1
paramiko==2.4.1
Keras==2.0.5
h5py==2.7.0
epitran==0.4
# Adafruit_PCA9685==1.0.1
zeroc-ice==3.6.0
Pillow==5.3.0
# PyQt4==4.11.4
PySide==1.2.4
GitPython==2.1.11
paho_mqtt==1.4.0
# picamera==1.13
# wiringpi==2.46.0
# wiringpi2==2.32.3
