[Desktop Entry]
Version=1.0
Type=Application
Name=LearnBlock
Comment=
Exec=/usr/local/bin/LearnBlock
Icon=Learnbot_ico.png
Path=
Terminal=false
StartupNotify=false
